/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import '~font-awesome/css/font-awesome.min.css';
@import '~bootstrap-css-only/css/bootstrap.min.css';
@import "~mdbreact/dist/css/mdb.css";

     html, body, header, .view {
        height: 100%;
    }

    @media (max-width: 740px) {
        html, body, header, .view {
            height: 1000px;
        }
    }

    @media (min-width: 800px) and (max-width: 850px) {
        html, body, header, .view {
            height: 600px;
        }
    }

    .btn .fa {
        margin-left: 3px;
    }

    .top-nav-collapse {
        background-color: #424f95 !important;
    }

    .navbar:not(.top-nav-collapse) {
        background: transparent !important;
    }

    @media (max-width: 991px) {
        .navbar:not(.top-nav-collapse) {
            background: #424f95 !important;
        }
    }

    .btn-white {
        color: black !important;
    }

    h6 {
        line-height: 1.7;
    }

    .rgba-gradient {
        background: -moz-linear-gradient(45deg, rgba(44, 38, 92, 0.7), rgba(55, 61, 60, 0.7) 100%);
        background: -webkit-linear-gradient(45deg, rgba(44, 38, 92, 0.7), rgba(55, 61, 60, 0.7) 100%);
        background: -webkit-gradient(linear, 45deg, from(rgba(44, 38, 92, 0.7)), to(rgba(55, 61, 60, 0.7)));
        background: -o-linear-gradient(45deg, rgba(44, 38, 92, 0.7), rgba(55, 61, 60, 0.7) 100%);
        background: linear-gradient(to 45deg, rgba(44, 38, 92, 0.7), rgba(55, 61, 60, 0.7) 100%);
    }
/*
body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: #232c39;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
}
*/
